################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/.vs
/SuccessHotelierHub/Properties/PublishProfiles
/SuccessHotelierHub/obj/Release
/SuccessHotelierHub/obj/Debug
