<footer class="main-footer">   
    <strong>Copyright &copy; @DateTime.Now.Year
     <a href="https://www.trainingforsuccess.ie/"  target="_blank">TrainingForSuccess</a>.</strong> All rights
    reserved.
</footer>
