
.divCardExpiryDate label {
    display: block;
}

.divCardExpiryDate div {
    margin: 0 0 1rem 0;
}

.divCardExpiryDate .shell {
    position: relative;
    line-height: 1;
}

    .divCardExpiryDate .shell span {
        position: absolute;
        left: 3px;
        top: 1px;
        color: #ccc;
        pointer-events: none;
        z-index: -1;
    }

.divCardExpiryDate .shell span i {    
    /* any of these 3 will work */
    color: transparent;
    opacity: 0;
    visibility: hidden;
}

.divCardExpiryDate input.masked,
.divCardExpiryDate .shell span {        
    padding-right: 10px;
    background-color: transparent;
    text-transform: uppercase;
}
