@using SuccessHotelierHub.Models
@using SuccessHotelierHub.Repository
@using SuccessHotelierHub.Utility
@{

    var rateTypeList = (List<RateTypeVM>)ViewData["RateType"];
    var rateSheetRoomTypeList = (List<RateSheetRoomTypeVM>)ViewData["RateSheetRoomType"];
    var isShowWeekEndPrice = (bool)ViewData["IsShowWeekEndPrice"];

    ReservationRepository reservationRepository = new ReservationRepository();
}

@if ((rateSheetRoomTypeList != null && rateSheetRoomTypeList.Count > 0) && (rateTypeList != null && rateTypeList.Count > 0))
{
    var firstHeaderRow = string.Empty;
    var secondRow = string.Empty;
    var thirdRow = string.Empty;
    var nextRowHtml = string.Empty;

    firstHeaderRow = "<th colspan='3'>Room Types</th>";
    foreach (var roomType in rateSheetRoomTypeList)
    {
        firstHeaderRow += (string.Format("<th class='cursor-P' onclick=\"openRoomTypeStatusModal('{1}');\">{0}</th>", roomType.RoomTypeCode, roomType.Id));
    }

    secondRow = "<td colspan='3'>Available Rooms</td>";
    foreach (var roomType in rateSheetRoomTypeList)
    {
        secondRow += (string.Format("<td>{0}</td>", roomType.AvailableRooms));
    }

    thirdRow = "<td colspan='3'><b>Types Of Rate</b></td>";
    foreach (var roomType in rateSheetRoomTypeList)
    {
        thirdRow += (string.Format("<td>{0}</td>", ""));
    }

    foreach (var rateType in rateTypeList)
    {
        nextRowHtml += "<tr>";
        nextRowHtml += (string.Format("<td>{0}</td>", rateType.RateTypeCode));
        nextRowHtml += "<td>EUR</td>";
        nextRowHtml += "<td></td>";

        foreach (var roomType in rateSheetRoomTypeList)
        {
            var rateSheetDetail = reservationRepository.GetRateSheetDetail(rateType.Id, roomType.Id, isShowWeekEndPrice).FirstOrDefault();
            string colorClass = "text-green";

            if (rateSheetDetail != null)
            {
                if (roomType.AvailableRooms == 0)
                {
                    colorClass = "text-red";
                }

                nextRowHtml += (string.Format("<td class=\"cursor-P {8}\" data-ratetypeid=\"{1}\" data-roomtypeid=\"{2}\" data-description=\"{3}\" data-id=\"{4}\" data-amount=\"{5}\" data-ratetypecode=\"{6}\" data-roomtypecode=\"{7}\" onclick=\"showRateInfo(this);\" data-availablerooms=\"{9}\">{0}</td>",
                    Utility.FormatAmountWithTwoDecimal(rateSheetDetail.Amount), rateType.Id, roomType.Id,
                    rateSheetDetail.Description,
                    rateSheetDetail.Id,
                    Utility.FormatAmountWithTwoDecimal(rateSheetDetail.Amount),
                    rateType.RateTypeCode,
                    roomType.RoomTypeCode,
                    colorClass,
                    roomType.AvailableRooms));
            }
            else
            {
                colorClass = "text-red";
                nextRowHtml += (string.Format("<td class=\"cursor-P {8}\" data-ratetypeid=\"{1}\" data-roomtypeid=\"{2}\" data-description=\"{3}\" data-id=\"{4}\" data-amount=\"{5}\" data-ratetypecode=\"{6}\" data-roomtypecode=\"{7}\" onclick=\"showRateInfo(this);\" data-availablerooms=\"{9}\">{0}</td>",
                    Utility.FormatAmountWithTwoDecimal(0), rateType.Id, roomType.Id,
                    string.Empty,
                    string.Empty,
                    Utility.FormatAmountWithTwoDecimal(0),
                    rateType.RateTypeCode,
                    roomType.RoomTypeCode,
                    colorClass, 0));
            }
        }

        nextRowHtml += "</tr>";
    }


    <table class="table table-bordered table-striped">
        <thead>

            <tr>
                @Html.Raw(firstHeaderRow)
            </tr>

        </thead>
        <tbody>
            <tr>
                @Html.Raw(secondRow)
            </tr>
            <tr>
                @Html.Raw(thirdRow)
            </tr>

            @Html.Raw(nextRowHtml)

        </tbody>
    </table>
}
else
{
    <h2>No data available.</h2>
}

<script type="text/javascript">
    $('#IsWeekEndPrice').val('@isShowWeekEndPrice');
</script>
