
@{
    ViewBag.Title = "RateQuery";
}

<section class="content">
    <h2 class="mt-0 m-b">Rate Query</h2>
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Rate Query Details</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form class="">
            <div class="box-body">
                <div class="col-md-4 col-sm-6 col-xs-12 form-group">
                    <label for="" class="">Arrival</label>
                    <div class="input-group date">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <input type="text" class="form-control" placeholder="MM/dd/yyyy" />
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 form-group">
                    <label for="" class="">Nights</label>
                    <input type="text" class="form-control" id="" placeholder="1">
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 form-group">
                    <label for="" class="">Departure</label>
                    <div class="input-group date">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <input type="text" class="form-control" placeholder="MM/dd/yyyy" />
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 form-group">
                    <label for="" class="">Adults</label>
                    <input type="text" class="form-control" id="" placeholder="1">
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 form-group">
                    <label for="" class="">Children</label>
                    <input type="text" class="form-control" id="" placeholder="0">
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 form-group">
                    <label for="" class="">No. of Rooms</label>
                    <input type="text" class="form-control" id="" placeholder="1">
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 form-group">
                    <label for="" class="">Last Name</label>
                    <input type="text" class="form-control" id="" placeholder="Last Name">
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 form-group">
                    <label for="" class="">Block</label>
                    <select class="form-control">
                        <option>--Select--</option>
                    </select>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 form-group">
                    <label for="" class="">Member Type</label>
                    <input type="text" class="form-control" id="" placeholder="Member Type">
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 form-group">
                    <label for="" class="">Member No.</label>
                    <input type="text" class="form-control" id="" placeholder="Member No.">
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 form-group">
                    <label for="" class="">Company</label>
                    <input type="text" class="form-control" id="" placeholder="Company">
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 form-group">
                    <label for="" class="">Corp No.</label>
                    <input type="text" class="form-control" id="" placeholder="Corp.No">
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 form-group">
                    <label for="" class="">Agent</label>
                    <input type="text" class="form-control" id="" placeholder="Agent">
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 form-group">
                    <label for="" class="">TATA No.</label>
                    <input type="text" class="form-control" id="" placeholder="TATA No.">
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 form-group">
                    <label for="" class="">Source</label>
                    <input type="text" class="form-control" id="" placeholder="Source">
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 form-group">
                    <label for="" class="">Source No.</label>
                    <input type="text" class="form-control" id="" placeholder="Source No.">
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 form-group">
                    <label for="" class="">Features</label>
                    <input type="text" class="form-control" id="" placeholder="Features">
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 form-group">
                    <label for="" class="">Rate Code</label>
                    <input type="text" class="form-control" id="" placeholder="Rate Code">
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 form-group">
                    <label for="" class="">Rate Class</label>
                    <input type="text" class="form-control" id="" placeholder="Rate Class">
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 form-group">
                    <label for="" class="">Room Class</label>
                    <input type="text" class="form-control" id="" placeholder="Room Class">
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 form-group">
                    <label for="" class="">Rate Category</label>
                    <input type="text" class="form-control" id="" placeholder="Rate Category">
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 form-group">
                    <label for="" class="">Packages</label>
                    <input type="text" class="form-control" id="" placeholder="Packages">
                </div>
            </div>

            <div class="box-header with-border">
                <h3 class="box-title mt-10 mb-10">Show Rates</h3>
            </div>

            <div class="box-body">
                <div class="col-md-2 col-sm-4 col-xs-12 form-group">
                    <label class="container1">
                        Closed 
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-12 form-group">
                    <label class="container1">
                        Day Use
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-12 form-group">
                    <label class="container1">
                        Pseudo
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                </div>
               <div class="clearfix"></div>
                   <div class="col-md-2 col-sm-4 col-xs-12 form-group">
                       <label class="container1">
                           <input type="checkbox">
                           <span class="checkmark"></span>
                           Incl Non Dudct
                       </label>
                   </div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer text-center">
                <button type="submit" class="btn btn-success">Save</button>
                <button type="submit" class="btn btn-danger">Cancel</button>
            </div>
            <!-- /.box-footer -->
        </form>
    </div>
</section>

