
@{
    ViewBag.Title = "CreateState";
}

<section class="content">
    <h2 class="mt-0 m-b-md">Create State</h2>
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">State Details</h3>
        </div>
        <form class="">
            <div class="box-body">
                <div class="row">
                    <div class="col-md-4 col-sm-12 col-xs-12 form-group">
                        <label for="" class="required-label">Country</label>
                        <select class="form-control">
                            <option>--select--</option>
                        </select>
                    </div>
                    <div class="col-md-4 col-sm-12 col-xs-12 form-group">
                        <label for="" class="required-label">Code</label>
                        <input type="text" class="form-control" id="" placeholder="">
                    </div>
                    <div class="col-md-4 col-sm-12 col-xs-12 form-group">
                        <label for="" class="required-label">Name</label>
                        <input type="text" class="form-control" id="" placeholder="">
                    </div>
                </div>
            </div>
            <div class="box-footer text-right">
                <button type="button" class="btn btn-success">Save</button>
                <a href="#" class="btn btn-danger">Cancel</a>
            </div>
        </form>
    </div>
</section>
