
@{
    ViewBag.Title = "CreateRoomType";
}

<section class="content">
    <h2 class="mt-0 m-b-md">Create Room Type</h2>
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Room Type Details</h3>
        </div>
        <form class="">
            <div class="box-body">
                <div class="col-md-6 col-sm-12 col-xs-12 padding-zero">
                    <label for="" class="col-lg-3 col-md-4 col-sm-3 col-xs-12 text-right text-left-media-lbl padding_left">Room Type *</label>
                    <div class="col-md-6 col-sm-4 col-xs-12 padding-zero">
                        <input type="text" class="form-group form-control" id="" placeholder="">
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-6 col-sm-12 col-xs-12 padding-zero">
                    <label for="" class="col-lg-3 col-md-4 col-sm-3 col-xs-12 text-right text-left-media-lbl padding_left">No. Of Room  *</label>
                    <div class="col-md-6 col-sm-4 col-xs-12 padding-zero">
                        <input type="text" class="form-group form-control" id="" placeholder="">
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-6 col-sm-12 col-xs-12 padding-zero">
                    <label for="" class="col-lg-3 col-md-4 col-sm-3 col-xs-12 text-right text-left-media-lbl padding_left">Description</label>
                    <div class="col-md-6 col-sm-4 col-xs-12 padding-zero">
                        <textarea class="form-group form-control"></textarea>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-6 col-sm-12 col-xs-12 padding-zero">
                    <label for="" class="col-lg-3 col-md-4 col-sm-3 col-xs-12 text-right text-left-media-lbl padding_left">Is Active</label>
                    <div class="col-md-6 col-sm-4 col-xs-12 padding-zero">
                        <label class="col-md-4 col-sm-4 col-xs-6 container1">
                            <input type="checkbox">
                            <span class="checkmark"></span>
                        </label>
                    </div>
                </div>
                <div class="clearfix"></div>
                <hr class="hr_margin" />
                <div class="col-md-6 col-sm-12 col-xs-12 padding-zero m-b-sm">
                    <div class="col-lg-offset-3 col-lg-9 col-md-offset-4 col-md-8 col-sm-offset-3 col-sm-9 col-xs-12 padding-zero">
                        <button type="button" class="btn btn-success m-r-xs">Save</button>
                        <a href="#" class="btn btn-danger">Cancel</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>

