
@{
    ViewBag.Title = "ListingCity";
}

<section class="content">
    <h2 class="mt-0 m-b-md">Listing City</h2>
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">City Details</h3>
        </div>
        <form class="">
            <div class="box-body">
                <div class="col-xs-12 padding-zero">
                    <div class="col-md-3 col-sm-4 col-xs-12 padding_left padding-right-media form-group ">
                        <label for="" class="">Country</label>
                        <select class="form-control">
                            <option>--Select--</option>
                        </select>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-12 padding_left padding-right-media form-group ">
                        <label for="" class="">State</label>
                        <select class="form-control">
                            <option>--Select--</option>
                        </select>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-12 padding_left padding-right-media form-group ">
                        <label for="" class="">Name</label>
                        <input type="text" class="form-control" id="" placeholder="">
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-12 mt-23 mt-23-media padding_left padding-right-media form-group">
                        <button type="button" class="btn btn-success m-r-xs">Search</button>
                        <a href="#" class="btn btn-danger">Clear</a>
                    </div>
                    <div class="clearfix"></div>
                </div>

                <div class="col-xs-12 padding-zero m-t-sm">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Country</th>
                                    <th>State</th>
                                    <th>City</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Test</td>
                                    <td>Test</td>
                                    <td>Test</td>
                                    <td><button class="btn btn-success btn-xs m-r-xs">Edit</button> <button class="btn btn-danger btn-xs">Delete</button></td>
                                </tr>
                                <tr>
                                    <td>Test</td>
                                    <td>Test</td>
                                    <td>Test</td>
                                    <td><button class="btn btn-success btn-xs m-r-xs">Edit</button> <button class="btn btn-danger btn-xs">Delete</button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>

