@model SuccessHotelierHub.Models.ReservationChargeVM
@using SuccessHotelierHub.Models
@using SuccessHotelierHub.Utility
@{
    var sourceRedirectionParam = "";
    sourceRedirectionParam = (string)ViewData["Source"];
}

<div class="row">
    @using (Html.BeginForm("Create", "ReservationCharge", FormMethod.Post, new { id = "frmReservationCharge", enctype = "multipart/form-data" }))
    {

        <!--HIDDEN FIELD-->
        @Html.HiddenFor(m => m.ReservationId)
        <input type="hidden" id="hdnTotalTransactionCharges" name="hdnTotalTransactionCharges" value="1" />
        <!--HIDDEN FIELD-->

        <div class="box-body pt_10 pb-0">
            <div class="tbl_max_height">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped" id="tblTransactionCharges">
                        <thead>
                            <tr>
                                <th class="width_2"></th>
                                <th class="width_15">Date</th>
                                <th class="width_15">Code</th>
                                <th class="width_10">Amount (@Html.Raw(LogInManager.CurrencySymbol))</th>
                                <th class="width_8">Qty</th>
                                @*<th class="width_15">Supplement</th>*@
                                <th class="width_20">Reference</th>
                                <th class="width_25">Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr data-rownumber="1">
                                <td>
                                    <span class="text-red font_20 cursor-P" onclick="removeRow(this);">
                                        <i class="fa fa-remove text"></i>
                                    </span>
                                    <input type="hidden" id="AdditionalChargeId_1" name="AdditionalChargeId_1" value="0" />
                                </td>
                                <td>
                                    <div class="input-group date">
                                        <input type="text" id="TransactionDate_1" name="TransactionDate_1"
                                               class="form-control mydatepicker" placeholder="dd/mm/yyyy" />
                                        <div class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="input-group">
                                        <input type="text" id="Code_1" name="Code_1"
                                               class="form-control" placeholder="Code" />
                                        <div class="input-group-addon cursor-P" onclick="openAdditionalChargeModal(1);">
                                            <i class="fa fa-search"></i>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <input type="text" id="Amount_1" name="Amount_1"
                                           class="form-control" placeholder="Amount"
                                           onkeypress="onlyNumeric(event)" value="0.00" />
                                </td>

                                <td>
                                    <input type="text" id="Qty_1" name="Qty_1"
                                           class="form-control" value="1"
                                           onkeydown="onlyDigits(event)" />
                                </td>
                                @*<td>
                                        <input type="text" id="Supplement_1" name="Supplement_1"
                                               class="form-control" placeholder="Supplement" />
                                    </td>*@
                                <td>
                                    <input type="text" id="Reference_1" name="Reference_1"
                                           class="form-control" placeholder="Reference" />
                                </td>
                                <td>
                                    <textarea id="Description_1" name="Description_1" rows=1 style="height: 34px;"
                                              class="form-control"></textarea>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="box-footer text-right">
            <button type="button" class="btn btn-success m-r-xs" onclick="return saveReservationCharges();">Post</button>
            <button type="button" class="btn btn-danger m-r-xs" data-dismiss="modal">Cancel</button>
        </div>
    }
</div>


<script type="text/javascript">

    $(document).ready(function () {
        clearReservationChargesData();

        //Default Transaction Date. (Set today's date).
        $("form#frmReservationCharge #TransactionDate_1").datepicker("setDate", new Date());
    })

    function AddNewTransactionRow() {
        var rowNumber = $('form#frmReservationCharge #hdnTotalTransactionCharges').val();

        if (!IsNullOrEmpty(rowNumber)) {
            rowNumber = parseInt(rowNumber) + 1;
        } else {
            rowNumber = 1;
        }

        var html = "";

        //Create New Row
        html += "<tr data-rownumber='" + rowNumber + "'>";

        //Remove Button + Hidden Field
        html += "<td>";
        html += "<span class='text-red font_20 cursor-P' onclick='removeRow(this);'>";
        html += "<i class='fa fa-remove text'></i>";
        html += " </span>";
        html += "<input type='hidden' id='AdditionalChargeId_" + rowNumber + "' name='AdditionalChargeId_" + rowNumber + "' value='0'>";
        html += "</td>";

        //Date
        html += "<td>";
        html += "<div class='input-group date'>";
        html += "<input type='text' id='TransactionDate_" + rowNumber + "' name='TransactionDate_" + rowNumber + "' class='form-control mydatepicker' placeholder='dd/mm/yyyy' />";
        html += " <div class='input-group-addon'><i class='fa fa-calendar'></i></div>";
        html += "</div>";
        html += "</td>";

        //Code
        html += "<td>";
        html += "<div class='input-group'>";
        html += "<input type='text' id='Code_" + rowNumber + "' name='Code_" + rowNumber + "' class='form-control' placeholder='Code' />";
        html += "<div class='input-group-addon cursor-P' onclick='openAdditionalChargeModal(" + rowNumber + ");'><i class='fa fa-search'></i></div>";
        html += "</div>";
        html += "</td>";

        //Amount
        html += "<td>";
        html += "<input type='text' id='Amount_" + rowNumber + "' name='Amount_" + rowNumber + "' class='form-control' placeholder='Amount' onkeypress='onlyNumeric(event)' value='0.00'>";
        html += "</td>";

        //Qty
        html += "<td>";
        html += "<input type='text' id='Qty_" + rowNumber + "' name='Qty_" + rowNumber + "' class='form-control' onkeydown='onlyDigits(event)' value='1'>";
        html += "</td>";

        //Reference
        html += "<td>";
        html += "<input type='text' id='Reference_" + rowNumber + "' name='Reference_" + rowNumber + "' class='form-control' placeholder='Reference'>";
        html += "</td>";

        //Description
        html += "<td>";
        html += "<textarea id='Description_" + rowNumber + "' name='Description_" + rowNumber + "'  rows='1' class='form-control'></textarea>";
        html += "</td>";

        html += "</tr>";


        $('form#frmReservationCharge #tblTransactionCharges tbody').append(html);

        $('form#frmReservationCharge #hdnTotalTransactionCharges').val(rowNumber);

        //Bind DatePicker
        $("form#frmReservationCharge #TransactionDate_" + rowNumber).datepicker({
            autoclose: true,
            format: 'dd/mm/yyyy'
        })

        $("form#frmReservationCharge #TransactionDate_" + rowNumber).datepicker("setDate", new Date());
    }

    function removeRow(element) {
        $(element).closest("tr").remove();
    }

    function validateReservationCharges() {
        var errorMessage = "";
        var blnValid = true;
        var blnAmountValid = true;

        $("form#frmReservationCharge #tblTransactionCharges tbody tr").each(function () {
            var rowNumber = $(this).attr("data-rownumber");
            if (!IsNullOrEmpty(rowNumber)) {
                rowNumber = parseInt(rowNumber);
                var code = $('form#frmReservationCharge #Code_' + rowNumber).val();
                var chargeId = $('form#frmReservationCharge #AdditionalChargeId_' + rowNumber).val();
                var amount = $('form#frmReservationCharge #Amount_' + rowNumber).val();

                if (IsNullOrEmpty(code) || IsNullOrEmpty(chargeId)) {
                    blnValid = false;
                }
                if (IsNullOrEmpty(amount)) {
                    blnAmountValid = false;
                }
            }
        });

        if (blnValid == false) {
            showToaster("Please search and select valid transaction code.", ToasterType.ERROR);
            return false;
        }

        if (blnAmountValid == false) {
            showToaster("Please enter amount.", ToasterType.ERROR);
            return false;
        }

        return blnValid;
    }



    function saveReservationCharges() {
        if (validateReservationCharges()) {

            var listReservationCharge = [];

            $("form#frmReservationCharge #tblTransactionCharges tbody tr").each(function () {
                var rowNumber = $(this).attr("data-rownumber");

                if (!IsNullOrEmpty(rowNumber)) {

                    rowNumber = parseInt(rowNumber);

                    var modelReservationCharge = {};

                    modelReservationCharge.ReservationId = $('form#frmReservationCharge #ReservationId').val();
                    modelReservationCharge.TransactionDate = $('form#frmReservationCharge #TransactionDate_' + rowNumber).val();
                    modelReservationCharge.AdditionalChargeId = $('form#frmReservationCharge #AdditionalChargeId_' + rowNumber).val();
                    modelReservationCharge.Code = $('form#frmReservationCharge #Code_' + rowNumber).val();
                    modelReservationCharge.Description = $('form#frmReservationCharge #Description_' + rowNumber).val();
                    modelReservationCharge.Amount = $('form#frmReservationCharge #Amount_' + rowNumber).val();
                    modelReservationCharge.Qty = $('form#frmReservationCharge #Qty_' + rowNumber).val();
                    modelReservationCharge.Reference = $('form#frmReservationCharge #Reference_' + rowNumber).val();
                    modelReservationCharge.IsActive = true;

                    listReservationCharge.push(modelReservationCharge);

                }
            });
            if (listReservationCharge != null && listReservationCharge.length > 0) {
                $.ajax({
                    beforeSend: function (xhr) {
                        showLoader();
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        ShowErrorMessage(jqXHR.status, errorThrown);
                    },
                    complete: function () {
                        hideLoader();
                    },
                    url: '@Url.Content("~/ReservationCharge/AddCharges")',
                    type: 'POST',
                    data: { models: listReservationCharge },
                    success: function (response) {
                        if (response.IsSuccess == false) {
                            showToaster(response.errorMessage, ToasterType.ERROR);
                        }
                        else {
                            var transactions = response.data.Transactions;

                            if (transactions != null) {
                                //Call Grid Function.
                                IsTransactionGridUpdated = true;
                                bindBillingTransactionGrid(transactions);
                            }
                            showToaster("Charge details saved successfully", ToasterType.SUCCESS);

                            clearReservationChargesData();

                            //$('#reservationChargeModal').modal('toggle');
                            CloseModal('reservationChargeModal');
                        }
                        return false;
                    }
                });
            } else {
                showToaster("Please add atleast one transaction charge", ToasterType.ERROR);
                return false;
            }
        }
    }

    function clearReservationChargesData() {
        $("form#frmReservationCharge #TransactionDate_1").datepicker("setDate", new Date());
        $('form#frmReservationCharge #Code_1').val('');
        $('form#frmReservationCharge #Description_1').val('');
        $('form#frmReservationCharge #Amount_1').val('0.00');
        $('form#frmReservationCharge #Qty_1').val('1');
        $('form#frmReservationCharge #Reference_1').val('');
        $('form#frmReservationCharge #AdditionalChargeId_1').val('');
        $('form#frmReservationCharge #hdnTotalTransactionCharges').val('1');

        //Remove all the rows except first one.
        $("form#frmReservationCharge  #tblTransactionCharges tbody").find("tr:gt(0)").remove();
    }   
</script>


