/*body {
    padding-top: 50px;
    padding-bottom: 20px;
}*/

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 280px;
}*/

.padding-zero{
    padding: 0  !important;
}
.mt-0{
    margin-top: 0;
}

/*** Loader Start */
.loader {
    height: 100%;
    position: fixed;
    padding-top: 8%;
    width: 100%;
    z-index: 999;
    display: none;
    /*background-color: #E6E6E6;
    opacity: 0.89;*/
    background-color:rgba(230, 230, 230, 0.4);
    /*background: rgba(0, 0, 0, 0.4) none repeat scroll 0 0;*/
    text-align: center;
}
.loader2 {
    position: absolute;
    display:block;
    background-color:rgba(230, 230, 230, 0.7);
    text-align: center;
}
/*** Loader End */

.main-header .logo {
    font-size:12px !important;
}

/* MARGINS & PADDINGS */
.p-xxs {
  padding: 5px !important;
}
.p-xs {
  padding: 10px !important;
}
.p-sm {
  padding: 15px !important;
}
.p-m {
  padding: 20px !important;
}
.p-md {
  padding: 25px !important;
}
.p-22{
    padding: 22px !important;
}
.p-lg {
  padding: 30px !important;
}
.p-xl {
  padding: 40px !important;
}
.p-n {
  padding: 0 !important;
}
.p-l-none {
  padding-left: 0;
}
.p-l-xs {
  padding-left: 5px;
}
.p-l-sm {
  padding-left: 10px;
}
.p-l {
  padding-left: 15px;
}
.p-l-md {
  padding-left: 20px;
}
.p-l-lg {
  padding-left: 30px;
}
.p-l-xl {
  padding-left: 40px;
}
.p-l-n-xxs {
  padding-left: -1px;
}
.p-l-n-xs {
  padding-left: -5px;
}
.p-l-n-sm {
  padding-left: -10px;
}
.p-l-n {
  padding-left: -15px;
}
.p-l-n-md {
  padding-left: -20px;
}
.p-l-n-lg {
  padding-left: -30px;
}
.p-l-n-xl {
  padding-left: -40px;
}
.p-t-none {
  padding-top: 0;
}
.p-t-xxs {
  padding-top: 1px;
}
.p-t-xs {
  padding-top: 5px;
}
.p-t-sm {
  padding-top: 10px;
}
.p-t {
  padding-top: 15px;
}
.p-t-md {
  padding-top: 20px;
}
.p-t-lg {
  padding-top: 30px;
}
.p-t-xl {
  padding-top: 40px;
}
.p-t-xxl {
  padding-top: 50px;
}
.p-t-xxxl {
  padding-top: 60px;
}
.p-t-n-xxs {
  padding-top: -1px;
}
.p-t-n-xs {
  padding-top: -5px;
}
.p-t-n-sm {
  padding-top: -10px;
}
.p-t-n {
  padding-top: -15px;
}
.p-t-n-md {
  padding-top: -20px;
}
.p-t-n-lg {
  padding-top: -30px;
}
.p-t-n-xl {
  padding-top: -40px;
}
.p-r-none {
  padding-right: 0;
}
.p-r-xxs {
  padding-right: 1px;
}
.p-r-xs {
  padding-right: 5px;
}
.p-r-sm {
  padding-right: 10px;
}
.p-r {
  padding-right: 15px;
}
.p-r-md {
  padding-right: 20px;
}
.p-r-lg {
  padding-right: 30px;
}
.p-r-xl {
  padding-right: 40px;
}
.p-r-n-xxs {
  padding-right: -1px;
}
.p-r-n-xs {
  padding-right: -5px;
}
.p-r-n-sm {
  padding-right: -10px;
}
.p-r-n {
  padding-right: -15px;
}
.p-r-n-md {
  padding-right: -20px;
}
.p-r-n-lg {
  padding-right: -30px;
}
.p-r-n-xl {
  padding-right: -40px;
}
.p-b-none {
  padding-bottom: 0;
}
.p-b-xxs {
  padding-bottom: 1px;
}
.p-b-xs {
  padding-bottom: 5px;
}
.p-b-sm {
  padding-bottom: 10px;
}
.p-b {
  padding-bottom: 15px;
}
.p-b-md {
  padding-bottom: 20px;
}
.p-b-lg {
  padding-bottom: 30px;
}
.p-b-xl {
  padding-bottom: 40px;
}
.p-b-n-xxs {
  padding-bottom: -1px;
}
.p-b-n-xs {
  padding-bottom: -5px;
}
.p-b-n-sm {
  padding-bottom: -10px;
}
.p-b-n {
  padding-bottom: -15px;
}
.p-b-n-md {
  padding-bottom: -20px;
}
.p-b-n-lg {
  padding-bottom: -30px;
}
.p-b-n-xl {
  padding-bottom: -40px;
}

.m-xxs {
  margin: 2px 4px;
}
.m-xs {
  margin: 5px;
}
.m-sm {
  margin: 10px;
}
.m {
  margin: 15px;
}
.m-md {
  margin: 20px;
}
.m-lg {
  margin: 30px;
}
.m-xl {
  margin: 50px;
}
.m-n {
  margin: 0 !important;
}
.m-l-none {
  margin-left: 0;
}
.m-l-xs {
  margin-left: 5px;
}
.m-l-sm {
  margin-left: 10px;
}
.m-l {
  margin-left: 15px;
}
.m-l-md {
  margin-left: 20px;
}
.m-l-lg {
  margin-left: 30px;
}
.m-l-xl {
  margin-left: 40px;
}
.m-l-n-xxs {
  margin-left: -1px;
}
.m-l-n-xs {
  margin-left: -5px;
}
.m-l-n-sm {
  margin-left: -10px;
}
.m-l-n {
  margin-left: -15px;
}
.m-l-n-md {
  margin-left: -20px;
}
.m-l-n-lg {
  margin-left: -30px;
}
.m-l-n-xl {
  margin-left: -40px;
}
.m-t-none {
  margin-top: 0;
}
.m-t-xxs {
  margin-top: 1px;
}
.m-t-xs {
  margin-top: 5px;
}
.m-t-sm {
  margin-top: 10px;
}
.m-t {
  margin-top: 15px;
}
.m-t-md {
  margin-top: 20px;
}
.m-t-lg {
  margin-top: 30px;
}
.m-t-xl {
  margin-top: 40px;
}
.m-t-xxl {
  margin-top: 50px;
}
.m-t-xxxl {
  margin-top: 60px;
}
.m-t-n-xxs {
  margin-top: -1px;
}
.m-t-n-xs {
  margin-top: -5px;
}
.m-t-n-sm {
  margin-top: -10px;
}
.m-t-n {
  margin-top: -15px;
}
.m-t-n-md {
  margin-top: -20px;
}
.m-t-n-lg {
  margin-top: -30px;
}
.m-t-n-xl {
  margin-top: -40px;
}
.m-r-none {
  margin-right: 0;
}
.m-r-xxs {
  margin-right: 1px;
}
.m-r-xs {
  margin-right: 5px;
}
.m-r-sm {
  margin-right: 10px;
}
.m-r {
  margin-right: 15px;
}
.m-r-md {
  margin-right: 20px;
}
.m-r-lg {
  margin-right: 30px;
}
.m-r-xl {
  margin-right: 40px;
}
.m-r-n-xxs {
  margin-right: -1px;
}
.m-r-n-xs {
  margin-right: -5px;
}
.m-r-n-sm {
  margin-right: -10px;
}
.m-r-n {
  margin-right: -15px;
}
.m-r-n-md {
  margin-right: -20px;
}
.m-r-n-lg {
  margin-right: -30px;
}
.m-r-n-xl {
  margin-right: -40px;
}
.m-b-none {
  margin-bottom: 0;
}
.m-b-xxs {
  margin-bottom: 1px;
}
.m-b-xs {
  margin-bottom: 5px;
}
.m-b-sm {
  margin-bottom: 10px;
}
.m-b {
  margin-bottom: 15px;
}
.m-b-md {
  margin-bottom: 20px;
}
.m-b-lg {
  margin-bottom: 30px;
}
.m-b-xl {
  margin-bottom: 40px;
}
.m-b-n-xxs {
  margin-bottom: -1px;
}
.m-b-n-xs {
  margin-bottom: -5px;
}
.m-b-n-sm {
  margin-bottom: -10px;
}
.m-b-n {
  margin-bottom: -15px;
}
.m-b-n-md {
  margin-bottom: -20px;
}
.m-b-n-lg {
  margin-bottom: -30px;
}
.m-b-n-xl {
  margin-bottom: -40px;
}
.space-15 {
  margin: 15px 0;
}
.space-20 {
  margin: 20px 0;
}
.space-25 {
  margin: 25px 0;
}
.space-30 {
  margin: 30px 0;
}
.container1 {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-weight: normal;
}

/* Hide the browser's default checkbox */
.container1 input {
    position: absolute;
    opacity: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border: 1px solid #3C8DBC;
}
.modal-footer {
    margin-top: 0;
    text-align: center;
}
.container1:hover input ~ .checkmark {
    background-color: #ccc;
}
.container1 input:checked ~ .checkmark {
    background-color: #2196F3;
}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.container1 input:checked ~ .checkmark:after {
    display: block;
}
.container1 .checkmark:after {
    left: 7px;
    top: 2px;
    width: 6px;
    height: 12px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.box-body {
    padding: 20px 15px;
}
.box-body-list{
     padding: 15px 15px 20px;
}
.padding_left{
    padding-left: 0;
}
.padding_right{
    padding-right: 0;
}
.wrapper {
    position: inherit;
}
.hr_margin {
    margin: 10px 0 15px;
}
.mt-23{
    margin-top: 23px;
}
.table thead>tr>th, .table tbody>tr>th, .table tfoot>tr>th, .table thead>tr>td, .table tbody>tr>td, .table tfoot>tr>td {
    vertical-align: middle;
}
.box-footer {
    /*padding: 15px 0 20px;*/
}

/*Avoid scroll bar issue.*/
.table-responsive {
    overflow-x: auto;
    overflow-y: auto;
}
.cursor-P{
        cursor: pointer !important;
}
/*.modal-dialog {
    width: 900px;
}*/


/*Pagging*/

.pageNumTextBox {
    height: 25px;
    padding: 5px;
    font-size: 12px;
    width: 35%;
    border: 0 !important;
}

.spanPageNum {
    width: 64%;
    border: 0 !important;
    background-color: #eee !important;
    cursor: default !important;
}

li.page-item.pull-left.liPageNum {
    width: 195px;
}


.hovered {
    color: #23527c !important;
}

.liPageNum {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
.pagination > li > a, .pagination > li > span {
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    color: inherit;
    float: left;
    line-height: 1.42857;
    margin-left: -1px;
    padding: 4px 10px;
    position: relative;
    text-decoration: none;
}
/*Pagging Over*/
.pb-0{
    padding-bottom: 0;
}
.font_20{
    font-size: 20px !important;
}
.font_12 {
    font-size: 12px !important;
}
.font-weight-400 {
    font-weight:400 !important;
}
header .nav>li>a {
    padding: 10px 24px;
}
.main-header .logo {
    height: 64px;
    padding: 7px 15px;
}
.main-sidebar {
    padding-top: 64px;
}




/** Override css of bootstrap label*/
label{
    font-weight: 400 !important;
}
.required-label {
    font-weight: bold !important;
}
.label-bold {
    font-weight: bold !important;
}

.text-danger {
    /*color: #0000FF !important;*/
    color: #FF0000 !important;
}

.text-red {
    /*color: #0000FF !important;*/
    color: #FF0000 !important;
}

.text-blue {
    /*color: #0000FF !important;*/
    color: #0000FF !important;
}

.searchBox_Border{
    border:1px solid #3C8DBC !important;
}

/** Custom Margin **/
.mt_5 {
    margin-top:5px !important;
}
.mt_10 {
    margin-top:10px !important;
}
.mt_15 {
    margin-top:15px !important;
}
.mt_20 {
    margin-top:20px !important;
}
.mt_25 {
    margin-top:25px !important;
}

.ml_5 {
    margin-left:5px !important;
}
.ml_10 {
    margin-left:10px !important;
}
.ml_15 {
    margin-left:15px !important;
}
.ml_20 {
    margin-left:20px !important;
}
.ml_25 {
    margin-left:25px !important;
}
.ml-35 {
    margin-left: 35px;
}

.mr_5 {
    margin-right:5px !important;
}
.mr_10 {
    margin-right:10px !important;
}
.mr_15 {
    margin-right:15px !important;
}
.mr_20 {
    margin-right:20px !important;
}
.mr_25 {
    margin-right:25px !important;
}

.mb_5 {
    margin-bottom:5px !important;
}
.mb_10 {
    margin-bottom:10px !important;
}
.mb_15 {
    margin-bottom:15px !important;
}
.mb_20 {
    margin-bottom:20px !important;
}
.mb_25 {
    margin-bottom:25px !important;
}

/** Custom Padding **/
.pt_5 {
    padding-top:5px !important;
}
.pt_10 {
    padding-top:10px !important;
}
.pt_15 {
    padding-top:15px !important;
}
.pt_20 {
    padding-top:20px !important;
}
.pt_25 {
    padding-top:25px !important;
}

.pl_5 {
    padding-left:5px !important;
}
.pl_10 {
    padding-left:10px !important;
}
.pl_15 {
    padding-left:15px !important;
}
.pl_20 {
    padding-left:20px !important;
}
.pl_25 {
    padding-left:25px !important;
}

.pr_5 {
    padding-right:5px !important;
}
.pr_10 {
    padding-right:10px !important;
}
.pr_15 {
    padding-right:15px !important;
}
.pr_20 {
    padding-right:20px !important;
}
.pr_25 {
    padding-right:25px !important;
}

.pb_5 {
    padding-bottom:5px !important;
}
.pb_10 {
    padding-bottom:10px !important;
}
.pb_15 {
    padding-bottom:15px !important;
}
.pb_20 {
    padding-bottom:20px !important;
}
.pb_25 {
    padding-bottom:25px !important;
}

.datepicker.datepicker-dropdown.dropdown-menu.datepicker-orient-left.datepicker-orient-top {
    z-index: 9999 !important;
}
.searchbox_padding{
        padding: 10px 10px 0;
}
.modal-xl {
    width: 1100px;
}
.skin-blue .main-header .navbar .sidebar-toggle {
    display: none;
}
.table_maxheight{
    max-height: 300px;
    overflow: auto;
}
.modal-body_padding {
    padding: 10px 20px 20px;
}
.container_radio {
    display: block;
    position: relative; 
    padding-left:2px;   
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    user-select: none;
}


.user-list-radio .checkmark_radio {
    top: 6px;
    left: -22px;
}
.user-list-radio .container_radio span {
    font-size: 14px;
    font-weight: 600;
}
.user-list-radio .container_radio {
    display: inline;
}

/* Hide the browser's default radio button */
.container_radio input {
    position: absolute;
    opacity: 0;
}

/* Create a custom radio button */
.checkmark_radio {
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    background-color: #eee;
    border-radius: 50%;
    border: 1px solid #3C8DBC;
}

/* On mouse-over, add a grey background color */
.container_radio:hover input ~ .checkmark_radio {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container_radio input:checked ~ .checkmark_radio{
    background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark_radio:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.container_radio input:checked ~ .checkmark_radio:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.container_radio .checkmark_radio:after {
 	top: 5px;
	left: 5px;
	width: 6px;
	height: 6px;
	border-radius: 50%;
	background: white;
}
.glyphicon-triangle-right:before {
    content: "\e250";
}
.glyphicon-triangle-left:before {
    content: "\e251";
}
.navbar-nav > .user-menu > .dropdown-menu {
    width: 119px;
}
.dropdown-menu {
    min-width: auto;
}
.dashboard_bg {
    background: url('../img/Dashboardbg.jpg');
    background-position: right;
    background-size: cover;
    /*min-height:546px;*/
}


/*** Modal : Vertical Center START ***/
/*.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}*/

/*** Modal : Vertical  Center END ***/

.next_prev_btn{
    background: #f2f2f2;
    padding: 5px 10px;
    font-size: 20px;
}
.lbl_bg{
    background: red;
    color: #fff;
    padding: 2px 10px;
    margin-left: 20px;
}
.lbl_bg:hover, .lbl_bg:focus{
    color: #fff;
}
.tbl_max_height{
    max-height: 500px;
    overflow: auto;
}

.cursor-move{
    cursor:move !important;
}

.table-width {
width:100% !important;
}

.width_2{
    width:2% !important;
}
.width_3{
    width:3% !important;
}
.width_5{
    width:5% !important;
}
.width_8{
    width:8% !important;
}
.width_10{
    width:10% !important;
}
.width_12{
    width:12% !important;
}
.width_15{
    width:15% !important;
}
.width_20{
    width:20% !important;
}
.width_25{
    width:25% !important;
}
.width_30{
    width:30% !important;
}
.width_35{
    width:35% !important;
}
.width150{
    width:150px !important;
}
.width85{
    width:85px !important;
}
.width_40{
    width:40% !important;
}
.width_45{
    width:45% !important;
}
.width_50{
    width:50% !important;
}
.width_55{
    width:55% !important;
}
.width_60{
    width:60% !important;
}
.width_65{
    width:65% !important;
}
.width_70{
    width:70% !important;
}
.width_75{
    width:75% !important;
}
.width_80{
    width:80% !important;
}
.width_85{
    width:85% !important;
}
.width_90{
    width:90% !important;
}
.width_95{
    width:95% !important;
}
.width_100{
    width:100% !important;
}
.width20{
    width: 20px !important;
}
.width210 {
    width: 210px !important;
}
.width230 {
    width: 230px !important;
}
.text-weekend-bgcolor{
    /*background-color:#fff000 !important;*/
    background-color: #bf7fbf !important;
}

.text-uppercase{
    text-transform:uppercase !important;
}

.text-lowercase{
    text-transform:lowercase !important;
}

.image-head {
  background-image:url(../img/banner_3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top left;
  height: 500px;
  width: 100%;
  margin: 0;
  padding: 0;
  color: black;
  /*text-align: center;*/
}
#image-head {
    height: 100%;
}
.login-box, .register-box {
    width: 360px;
}
.login-logo a, .register-logo a {
    color: #fff;
}
.grandParentContaniner{
	display:table; height:100%; margin: 0 auto;
}
Html, body{
	height:100% !important;
}
.parentContainer{
	display:table-cell; vertical-align:middle;
}	

/***** Font ******/
.font_8 {
    font-size:8px !important;
}
.font_10 {
    font-size:10px !important;
}
.font_12 {
    font-size:12px !important;
}
.font_15 {
    font-size:15px !important;
}
.font_18 {
    font-size:15px !important;
}
.font_20 {
    font-size:20px !important;
}
.font_22 {
    font-size:22px !important;
}
.font_25 {
    font-size:25px !important;
}

.table_maxRemarks{
    max-height: 150px;
    overflow: auto;
}

.table_maxTransactionSummary{
    max-height: 200px;
    overflow: auto;
}

.text-left-align {
    text-align:left !important;
}
.text-center-align {
    text-align:center !important;
}
.text-right-align {
    text-align:right !important;
}


div.input-group-addon {
  cursor: pointer !important
}

/*******SWAL 2 */
.swal2-popup .swal2-title{
    font-size: 28px !important;
}
.table-responsive{
    border: none;
}
.table-responsive .table-bordered {
    border: 1px solid #f4f4f4;
}

.register-box-margin{
    margin: 2% auto !important;
}

label.error{
    color: #FF0000 !important;
}
.login-bottom-logo {
    right: 10px;
    position: fixed;
    bottom: 10px;
}