@{
    ViewBag.Title = "Home Page";
}


<div class="row text-center">
    <div class="col-md-12 form-group">
        <h2>Welcome to Training For Success  Hotelier Hub</h2> 
    </div>      
</div>